@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

body {
    font-family:'News Cycle', sans-serif;
}

.mainDisplay {
    height: 300px;
}

.scaffold {
   /*border: solid pink; */
    color: white;
}

.mainBackground {
    background-color: rgb(36, 41, 53);
}

.memberInfo {
    padding: 0px 0px;
    margin: 0px 0px;
}


.memberCard {
    padding: 3% 3%;
    margin: 0px 0px;
    font-size: 0.8em
}

.memberCard small {
    color: rgb(201, 201, 201)
}

.cardBackground {
   /* background-color: rgb(17, 141, 125) ; */
   background-color: #343a40;
    border-radius: 10px;
    height: 100%
}

.whipMoreInfo {
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 0.9em;
    text-align: end;
    background: transparent;
    border: none;
    color: white
}

.whipMoreInfoButton {
    text-align: center;
}

.memberCardPhoto {
    height: 50px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.seeMoreMembers {
    background-color: none;
}

.activityArea {
    height: 500px;
}

